:root {
  --desktop-fs: 16px;
  --mobile-fs: 14px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial !important;
  scroll-behavior: smooth;
  font-size: var(--desktop-fs);
  color: azure;
  background-color: #151515;
  position: relative;
}

@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: var(--mobile-fs);
  }
}

.app {
  background-color: #151515;
}

/****Navbar CSS****/

.navbar-scrolled {
  background-color: #151515;
  display: block;
  transition: 0.1s ease-in;
  border-bottom: 3px solid;
  border-image: linear-gradient(
      to left,
      rgba(146, 99, 203, 1) 20%,
      rgba(108, 181, 220, 1) 45%,
      rgba(80, 101, 171, 1) 59%,
      rgba(87, 44, 142, 1) 81%,
      rgba(53, 30, 106, 1) 100%
    )
    1 !important;
}

.navbar-notscrolled {
  background-color: transparent !important;
  display: block;
  transition: 0.1s ease-in;
}

.navbar-brand {
  font-weight: 900;
  text-align: center;
  color: azure;
  /* Fallback: Set a background color. */
}

.navbar-brand:hover {
  background-image: linear-gradient(
    to left,
    rgba(146, 99, 203, 1) 20%,
    rgba(108, 181, 220, 1) 45%,
    rgba(80, 101, 171, 1) 59%,
    rgba(87, 44, 142, 1) 81%
  );
  background-color: azure;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}

#sidemenu .nav-link,
#navbar-expanded .nav-link,
#skills-tabs .nav-item .nav-link {
  color: azure;
  font-weight: bold;
}

#sidemenu .nav-link:hover,
#navbar-expanded .nav-link:hover,
#skills-tabs .nav-item .nav-link:hover {
  color: azure;
  font-weight: bold;
  opacity: 0.8;
  background-color: transparent;
}

#home {
  margin-top: 0;
  padding: 260px 0 100px 0;
  width: 100vw;
  height: 100vh;
  color: azure;
}

/****Modal CSS****/
.modal {
  color: black;
}

/*Stop background from shifting when opening a modal*/
.modal-open {
  padding-right: 0 !important;
}

/****Experience CSS****/

#experience {
  background-color: black;
  background-image: url("./assets/img/banner-stars-bg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/****Projects CSS****/

#projects {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(
      90deg,
      rgba(146, 99, 203, 1) 20%,
      rgba(108, 181, 220, 1) 45%,
      rgba(80, 101, 171, 1) 59%,
      rgba(87, 44, 142, 1) 81%,
      rgba(53, 30, 106, 1) 100%
    );
}

.project-card {
  width: 40rem !important;
}

@media only screen and (max-width: 740px) {
  .project-card {
    width: auto !important;
  }
}

/****Cards CSS****/

.card {
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      rgba(146, 99, 203, 1) 20%,
      rgba(108, 181, 220, 1) 45%,
      rgba(80, 101, 171, 1) 59%,
      rgba(87, 44, 142, 1) 81%,
      rgba(53, 30, 106, 1) 100%
    )
    1;
}

/****Skills CSS****/

.skills-container-bg {
  background-color: black;
  background-image: url("./assets/img/banner-stars-bg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

.skills-container {
  background-color: #151515;
  text-align: center;
  padding: 3rem;
  border-radius: 4rem;
}

@media only screen and (max-width: 480px) {
  .skills-container-bg {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .skills-container {
    padding: 2rem;
  }
}
.skill-bar {
  background: linear-gradient(
    90deg,
    rgba(146, 99, 203, 1) 20%,
    rgba(108, 181, 220, 1) 45%,
    rgba(80, 101, 171, 1) 59%,
    rgba(87, 44, 142, 1) 81%,
    rgba(53, 30, 106, 1) 100%
  ) !important;
}

/****Skills tab CSS****/
.tab-bar-pill {
  background-color: transparent;
  width: 90%;
}

.rounded {
  border-radius: 4rem !important;
}

.rounded-start {
  border-radius: 4rem 0 0 4rem !important;
}

.rounded-end {
  border-radius: 0 4rem 4rem 0 !important;
}

.technical-key .nav-link:hover,
.technical-key .nav-link.active {
  background: linear-gradient(
    to right,
    rgba(146, 99, 203, 1) 20%,
    rgba(108, 181, 220, 1) 45%,
    rgba(80, 101, 171, 1) 59%,
    rgba(87, 44, 142, 1) 81%,
    rgba(53, 30, 106, 1) 100%
  );
  color: azure;
}

.languages-key .nav-link:hover,
.languages-key .nav-link.active {
  background: linear-gradient(
    to left,
    rgba(146, 99, 203, 1) 20%,
    rgba(108, 181, 220, 1) 45%,
    rgba(80, 101, 171, 1) 59%,
    rgba(87, 44, 142, 1) 81%,
    rgba(53, 30, 106, 1) 100%
  );
  color: azure;
}

.languages-key .nav-link:hover,
.technical-key .nav-link:hover {
  opacity: 0.8;
}

.language {
  border-bottom: 1px solid;
  border-image: linear-gradient(
      to left,
      rgba(146, 99, 203, 1) 20%,
      rgba(108, 181, 220, 1) 45%,
      rgba(80, 101, 171, 1) 59%,
      rgba(87, 44, 142, 1) 81%,
      rgba(53, 30, 106, 1) 100%
    )
    1;
}
/****Badge CSS ****/

.badge {
  margin: 0.5rem;
  font-size: x-small;
}

/****Star rating CSS****/

.star-rating {
  color: azure;
  background-clip: text;
}

/****Side menu CSS****/
#sidemenu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 100px;
  color: azure;
  width: 75%;
  translate: 100%;
  z-index: 1;
}

.navbar-item {
  translate: 100%;
  transition: translate 0.5s;
  color: azure;
}

.navbar-visible {
  translate: 0px !important;
}

/****Footer CSS****/
.copyright-bar {
  border-top: 3px solid;
  border-image: linear-gradient(
      to right,
      rgba(146, 99, 203, 1) 20%,
      rgba(108, 181, 220, 1) 45%,
      rgba(80, 101, 171, 1) 59%,
      rgba(87, 44, 142, 1) 81%,
      rgba(53, 30, 106, 1) 100%
    )
    1;
}

/****Banner and Education component CSS****/

.banner-education-section {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0) 95%
    ),
    url("./assets/img/banner-bg-full.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
}

/****Banner shooting stars animation****/

#shooting-stars span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate linear infinite;
}

#shooting-stars span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent 90%);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
#shooting-stars span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 5s;
}

#shooting-stars span:nth-child(2) {
  top: 0;
  right: 50%;
  left: initial;
  animation-delay: 0.5s;
  animation-duration: 3s;
}

#shooting-stars span:nth-child(3) {
  top: 0;
  right: 80%;
  left: initial;
  animation-delay: 0.1s;
  animation-duration: 8s;
}

#shooting-stars span:nth-child(4) {
  top: 0;
  right: 0;
  left: 150%;
  animation-delay: 0.5s;
  animation-duration: 5s;
}

#shooting-stars span:nth-child(5) {
  top: 0;
  right: 0;
  left: 200%;
  animation-delay: 0.2s;
  animation-duration: 6s;
}
