html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial !important;
  scroll-behavior: smooth;
  font-size: 16px;
  color: azure;
  background-color: #151515;
  position: relative;
}
.app {
  background-color: #151515;
}

#welcome {
  padding: 2rem;
  border: 1px solid azure;
  background-color: rgba(0, 0, 0, 0.6);
}

/****Navbar CSS****/

.navbar-scrolled {
  background-color: #151515;
  width: 100vw;
  display: block;

  transition: 0.4s ease-in;
  border-bottom: 3px solid;
  border-image: linear-gradient(
      to left,
      rgba(146, 99, 203, 1) 20%,
      rgba(108, 181, 220, 1) 45%,
      rgba(80, 101, 171, 1) 59%,
      rgba(87, 44, 142, 1) 81%,
      rgba(53, 30, 106, 1) 100%
    )
    1;
}

.navbar-notscrolled {
  background-color: transparent;
  width: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.4s ease-in;
}

.navbar-container {
  width: 100vw;
  flex-direction: row;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  align-items: center;
}
.navbar-links-socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navbar-brand {
  font-weight: 900;
  text-align: center;
  color: azure;
  /* Fallback: Set a background color. */
}

.navbar-brand:hover {
  background-image: linear-gradient(
    to left,
    rgba(146, 99, 203, 1) 20%,
    rgba(108, 181, 220, 1) 45%,
    rgba(80, 101, 171, 1) 59%,
    rgba(87, 44, 142, 1) 81%
  );
  background-color: azure;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .nav-link {
  color: azure;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.navbar .nav-link:hover {
  color: azure;
  opacity: 0.75;
}
.navbar .nav-link.active {
  color: azure;
  opacity: 0.75;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5rem;
}
.tiny-social-logo {
  height: 60px;
  aspect-ratio: 5/5;
  background-color: azure;
  border-radius: 2rem;
  padding: 1px;
  margin: 10px;
}
/****Banner and Education component CSS****/

.banner-education-section {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0) 95%
    ),
    url("./assets/img/banner-bg-full.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
}

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  width: 100vw;
  height: 100vh;
  color: azure;
}

.container-education-bg {
  width: 100vw;
  text-align: center;
}

.container-education {
  text-align: center;
  padding: 4em;
}

@media only screen and (max-width: 480px) {
  .container-education {
    text-align: center;
    padding: 2rem;
  }
}

.modal {
  color: black;
}

.modal-open {
  padding-right: 0 !important;
}

/****Projects CSS****/

.projects-container-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(
      90deg,
      rgba(146, 99, 203, 1) 20%,
      rgba(108, 181, 220, 1) 45%,
      rgba(80, 101, 171, 1) 59%,
      rgba(87, 44, 142, 1) 81%,
      rgba(53, 30, 106, 1) 100%
    );
  padding: 2rem;
  text-align: center;
}

.projects-container {
  text-align: center;
}
.project-card {
  width: 40rem;
}

@media only screen and (max-width: 750px) {
  .project-card {
    width: auto;
  }
}
.project-card-footer {
  border-top: 1px solid azure;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-links-section {
  border-top: 1px solid azure;
  text-align: justify;
}

.projects-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/****Cards CSS****/

.card-body .card-text {
  text-align: justify;
}

.content-list {
  text-align: left;
}

.card-body .card-subtitle {
  color: azure;
  opacity: 0.8;
}

.card-body .card-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-body .card-link a:link {
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
}
.card-body .card-link a:hover {
  color: #6cb5dc;
}

/****Skills CSS****/

.skills-container-bg {
  background-color: black;
  background-image: url("./assets/img/banner-stars-bg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

.skills-container {
  background-color: #151515;
  text-align: center;
  padding: 3rem;
  border-radius: 4rem;
}

@media only screen and (max-width: 480px) {
  .skills-container-bg {
    background-color: black;
    background-image: url("./assets/img/banner-stars-bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .skills-container {
    background-color: #151515;
    text-align: center;
    padding: 2rem;
    border-radius: 4rem;
  }
}
.skill-bar {
  background: linear-gradient(
    90deg,
    rgba(146, 99, 203, 1) 20%,
    rgba(108, 181, 220, 1) 45%,
    rgba(80, 101, 171, 1) 59%,
    rgba(87, 44, 142, 1) 81%,
    rgba(53, 30, 106, 1) 100%
  ) !important;
}

.card-body {
  background-color: #151515;
}
.card-body .card-title {
  color: azure;
  font-weight: bolder;
  font-size: 2rem;
  padding: 1rem;
}

/****Skills tab CSS****/

.tabs {
  padding: 2rem;
  overflow: hidden;
}
.tab-bar-pill .nav-link {
  border-radius: 4rem;
  border: 1px solid azure;
}

.tab-bar-pill .nav-link:hover {
  background: linear-gradient(
    to left,
    rgba(146, 99, 203, 1) 20%,
    rgba(108, 181, 220, 1) 45%,
    rgba(80, 101, 171, 1) 59%,
    rgba(87, 44, 142, 1) 81%,
    rgba(53, 30, 106, 1) 100%
  );
}

.tab-bar-pill .nav-link.active {
  background: linear-gradient(
    to left,
    rgba(146, 99, 203, 1) 20%,
    rgba(108, 181, 220, 1) 45%,
    rgba(80, 101, 171, 1) 59%,
    rgba(87, 44, 142, 1) 81%,
    rgba(53, 30, 106, 1) 100%
  );
}

/****Badge CSS ****/

.badge {
  margin: 1rem;
  font-size: medium;
}

@media only screen and (max-width: 600px) {
  .badge {
    font-size: small;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .badge {
    font-size: x-small;
    margin: 0.5rem;
  }
}

/****Footer CSS****/

.footer {
  background-color: #151515;
  border-collapse: collapse;
}
